doctype html
html(lang='es')
    include templates/head
    include templates/styles
    body
        #all
            .cursor
            #loader.text-center
                span.color José Miguel
                | Rosas Jiménez
            #breaker
            #breaker-two
            include templates/nav
            #header
                #particles
                .social-media-links
                    a(href='https://www.instagram.com/miguelrosasjmz/' target="_blank")
                        img.social-media(src='/public/images/instagram_logo.png', alt='instagram-logo')
                    a(href='https://www.facebook.com/miguelrosasjmz/' target="_blank")
                        img.social-media(src='/public/images/facebook_logo.png', alt='facebook-logo')
                    a(href='https://www.linkedin.com/in/josemiguelrosas/' target="_blank")
                        img.social-media(src='/public/images/linkedin_logo.png', alt='linkedin-logo')
                    a(href='https://github.com/Miguel98R' target="_blank")
                        img.social-media(src='/public/images/GitHub_logo.png', alt='github-logo')
                    a(href='https://github.com/mikeleganux1998' target="_blank")
                        img.social-media(src='/public/images/github-logo.jpg', alt='github-logo')
                .header-content
                    .header-content-box
                        h1.display-1.firstline.text-center
                            span.color Email
                            | Enviado
                        .secondline
                            | Pronto Nos pondremos en contacto

                        .contact
                            a(href='Mailto:mikerosas.dev98@gmail.com')
                                img.contactpic(src='/public/images/mail.png', alt='email-pic')
                            a(href='Tel:7714349366')
                                img.contactpic(src='/public/images/call.png', alt='phone-pic')


        include templates/scripts

