doctype html
html(lang='es')
    include templates/head
    include templates/styles
    body
        #all
            .cursor
            #loader
                span.color José Miguel
                | Rosas Jiménez
            #breaker
            #breaker-two
            include templates/nav
            include templates/header
            include templates/about
            include templates/portafolio
            include templates/contact

        include templates/scripts

