doctype html
html(lang='es')
  head
   include templates/headerCDNS
   title #{title}
  body
    i.bi.bi-list.mobile-nav-toggle.d-md-none
    header#header
      .d-flex.flex-column
        include templates/redesSociales

        include templates/nav
    include templates/portada

    main#main
      include templates/acercaDe
      //include templates/resumenTabajos
      include templates/skills
      include templates/cv
      //include templates/portafolio

      include templates/servicios
      //include templates/testimonios
      //include templates/contacto

    include templates/footer




    include templates/script
