#about
    include color-selector

    #about-content
        .about-header
            | AcercaDe
            span.color mí
            |
            span.header-caption
                | LlegaA
                span.color conocerme.
        .about-main
            .about-first-paragraph.wow
                span.about-first-line
                    | Soy un apasionado
                    span.color  Full Stack Web Developer
                    |  originario de  México
                br
                span.about-second-line A lo largo de mi carrera como Full Stack Web Developer, he forjado habilidades de primer nivel para asegurar el éxito de tu proyecto. Mi pasión por cada etapa impulsa creatividad e innovación.
                .cv
                    a(href='#')
                        button#download_cv
                            | Descargar
                            span.colors
                                |  CV
            .about-img
                img(src='/public/images/perfil_2_about.png', alt='Mike Rosas Dev')
    include services
    include skills

    include footer