section#about.about
    .container
        .section-title
            h2 About
            p Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row
            .col-lg-4(data-aos='fade-right')
                img.img-fluid(src='/public/img/profile-img.jpg', alt)
            .col-lg-8.pt-4.pt-lg-0.content(data-aos='fade-left')
                h3 UI/UX Designer & Web Developer.
                p.fst-italic Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .row
                    .col-lg-6
                        ul
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Birthday:
                                |
                                span 1 May 1995
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Website:
                                |
                                span www.example.com
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Phone:
                                |
                                span +123 456 7890
                            li
                                i.bi.bi-chevron-right
                                |
                                strong City:
                                |
                                span New York, USA
                    .col-lg-6
                        ul
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Age:
                                |
                                span 30
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Degree:
                                |
                                span Master
                            li
                                i.bi.bi-chevron-right
                                |
                                strong PhEmailone:
                                |
                                span email@example.com
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Freelance:
                                |
                                span Available
                p Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis. Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
