section#about.about
    .container
        .section-title
            h2 Acerca de mi
            p Soy un ingeniero en sistemas computacionales de 25 años con sede en Pachuca de soto, Hidalgo, México. Me gusta innovar e inventar nuevas aplicaciones.
        .row
            .col-lg-4(data-aos='fade-right')

                img.img-fluid.rounded(src='/public/img/perfil_2.png', alt)
            .col-lg-8.pt-4.pt-lg-0.content(data-aos='fade-left')
                h3 Full stack developer.
                p.fst-italic Me gusta enfrentar nuevos desafíos y aprender cosas nuevas.
                .row
                    .col-lg-6
                        ul
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Fecha de nacimiento:
                                    span.mx-1.fw-normal 30 de enero de 1998
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Sitio web:
                                    span.mx-1.fw-normal mikedev.com
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Teléfono:
                                    span.mx-1.fw-normal +52 7714349366
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Ciudad:
                                    span.mx-1.fw-normal Pachuca de soto, Hidalgo, México
                    .col-lg-6
                        ul
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Edad:
                                    span.mx-1.fw-normal 25 años
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Título:
                                    span.mx-1.fw-normal Ingeniero en Sistemas computacionales
                            li
                                i.bi.bi-chevron-right
                                |
                                strong Correo electrónico:
                                    span.mx-1.fw-normal miguelxbox3303@gmail.com

                p Como full stack developer, me encargo de diseñar y desarrollar aplicaciones web completas. Siempre estoy buscando nuevas formas de mejorar mi habilidad y conocimiento en este campo.
