.color-changer
    .color-panel
        img(src='/public/images/gear.png', alt)
    .color-selector
        .heading ¡Cambialo!
        .colors
            ul
                li
                    a.color-red( title='color-red')
                li
                    a.color-purple(title='color-purple')
                li
                    a.color-malt(title='color-malt')
                li
                    a.color-green(title='color-green')
                li
                    a.color-blue(title='color-blue')
                li
                    a.color-orange( title='color-orange')