section#contact.contact
    .container
        .section-title
            h2 Contacto
            p No dudes en contactarme para cualquier consulta o si deseas recibir más información acerca de mis servicios. Estoy aquí para ayudarte en todo lo que necesites.
        .row(data-aos='fade-in')
            .col-lg-5.d-flex.align-items-stretch
                .info

                    .email
                        i.bi.bi-envelope
                        h4 Email:
                        p miguelxbox3303@gmail.com
                    .phone
                        i.fab.fa-whatsapp
                        h4 Enviar mensaje por whatsapp
                        p.my-2
                            button.btn-success.btn Enviar


            .col-lg-7.mt-5.mt-lg-0.d-flex.align-items-stretch
                form.php-email-form(action='forms/contact.php', method='post', role='form')
                    .row
                        .form-group.col-md-6
                            label(for='name') Tu Nombre
                            |
                            input.form-control#name(type='text', name='name', required)
                        .form-group.col-md-6
                            label(for='name') Tu Email
                            |
                            input.form-control#email(type='email', name='email', required)
                    .form-group
                        label(for='name') Asunto
                        |
                        input.form-control#subject(type='text', name='subject', required)
                    .form-group
                        label(for='name') Mensaje
                        |
                        textarea.form-control(name='message', rows='10', required)
                    .my-3
                        .loading Loading
                        .error-message
                        .sent-message Your message has been sent. Thank you!
                    .text-center
                        button(type='submit') Enviar