section#contact.contact
    .container
        .section-title
            h2 Contact
            p Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row(data-aos='fade-in')
            .col-lg-5.d-flex.align-items-stretch
                .info
                    .address
                        i.bi.bi-geo-alt
                        h4 Location:
                        p A108 Adam Street, New York, NY 535022
                    .email
                        i.bi.bi-envelope
                        h4 Email:
                        p info@example.com
                    .phone
                        i.bi.bi-phone
                        h4 Call:
                        p +1 5589 55488 55s
                    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621', frameborder='0', style='border:0;width:100%;height:290px', allowfullscreen)
            .col-lg-7.mt-5.mt-lg-0.d-flex.align-items-stretch
                form.php-email-form(action='forms/contact.php', method='post', role='form')
                    .row
                        .form-group.col-md-6
                            label(for='name') Your Name
                            |
                            input.form-control#name(type='text', name='name', required)
                        .form-group.col-md-6
                            label(for='name') Your Email
                            |
                            input.form-control#email(type='email', name='email', required)
                    .form-group
                        label(for='name') Subject
                        |
                        input.form-control#subject(type='text', name='subject', required)
                    .form-group
                        label(for='name') Message
                        |
                        textarea.form-control(name='message', rows='10', required)
                    .my-3
                        .loading Loading
                        .error-message
                        .sent-message Your message has been sent. Thank you!
                    .text-center
                        button(type='submit') Send Message