#contact
    include color-selector
    .contact-header
        | Contácta
        span.color Me
        .contact-header-caption
            span.color Ponte
            | En contacto.
    .contact-content.py-5
        //.contact-form
            .form-header Mensajeame
            form#myForm(action='/api/mail/sendMail' method="POST")
                .input-line
                    input#name.input-name(type='text', name="name" placeholder='Nombre')
                    |
                    input#email.input-name(type='email', name="email"  placeholder='Email')
                input#subject.input-subject(type='text',name="subject"   placeholder='Asunto')
                |
                textarea#body.input-textarea(name="message"   placeholder='Mensaje')
                |
                button#submit(type='submit') Enviar
        .contact-info
            .contact-info-header Información de contacto
            .contact-info-content.text-center
                .contect-info-content-line
                    img.icon(src='/public/images/icon-name.png', alt='name-icon')
                    .contact-info-icon-text
                        h6 Nombre
                        p José Miguel Rosas Jimenez
                .contect-info-content-line
                    img.icon(src='/public/images/icon-location.png', alt='location-icon')
                    .contact-info-icon-text
                        h6 Ubicación
                        p Pachuca de soto, Hidalgo, México
                .contect-info-content-line
                    img.icon(src='/public/images/icon-phone.png', alt='phone-icon')
                    .contact-info-icon-text
                        h6 Whatsapp
                        p.text-white
                            a.text-white(href='https://wa.me/527714349366?text=Hola%20deseo%20contratar%20un%20servicio%20de%20desarrollo' target='_blank') +52 771 434 9366

                .contect-info-content-line
                    img.icon(src='/public/images/icon-email.png', alt='email-icon')
                    .contact-info-icon-text
                        h6 Email
                        p mikerosas.dev98@gmail.com
    //include footer