section#resume.resume
    .container
        .section-title
            h2 Experiencia
            p Aquí encontrarás información detallada sobre mi trayectoria profesional y educativa, así como las habilidades y conocimientos que he adquirido a lo largo de mi carrera.
        .row
            .col-lg-4(data-aos='fade-up')

                h3.resume-title Mis estudios

                .resume-item
                    h4 Ingenieria en sistemas computacionales
                    h5 2018 - Actualidad
                    p
                        em Centro Universitario Hidalguense
                .resume-item
                    h4 Tecnico en Programación
                    h5 2013 - 2016
                    p
                        em CBTIS 222
                h3.resume-title Certificaciones

                .resume-item
                        h4 Ethical Hacking/Red Team 3ra edición Hacker Mentor
                        h5 7-Marzo-2023
                        p
                            em HACKERMENTOR CIBERSEGURIDAD S.A.S.

                .resume-item
                        h4 Acreditacion de comptecencias en tecnologias microsoft : Microsoft Word , Excel , Power Point
                        h5  Junio 2014
                        p
                            em Secretaria de educación publica y Microsoft México

                .resume-item
                    h4 Acreditacion de comptecencias en tecnologias microsoft : Programación
                    h5  Junio 2014
                    p
                        em Secretaria de educación publica y Microsoft México


            .col-lg-8(data-aos='fade-up', data-aos-delay='100')
                h3.resume-title Mis experiencias profesionales
                .resume-item
                    h4 Full Stack Developer
                    h5 Agosto 2022 - Actualidad
                    p
                        em Leganux.net, Pachuca de soto , Hidalgo , México
                    ul
                        li Frontend con Pug(Jade): Desarrollo de interfaces web atractivas y adaptables utilizando Pug(Jade) y jQuery.
                        li Backend (API REST) : Creación y mantenimiento de servidores web y API REST utilizando Express.js, Node.js y MongoDB.
                        li Creación de modelos y esquemas de bases de datos utilizando Mongoose.
                        li Realización de consultas avanzadas en bases de datos MongoDB.
                        li Implementación y despliegue de aplicaciones web en Amazon Web Services.
                        li Localstorage: Implementación de almacenamiento local en el lado del cliente para mejorar el rendimiento y la experiencia del usuario.
                        li Uso de JSON Web Tokens (JWT) para autenticación y seguridad en la comunicación entre cliente y servidor.
                        li Implementación de encriptación de datos en bases de datos y contraseñas utilizando bcrypt.
                        li Creación y generación de informes personalizados para la presentación de datos y estadísticas.
                        li Manejo e implementacion de paquetes con npm

                .resume-item
                    h4 Pagina web - Cultura de jesus
                    h5 Abril 2023 - actualidad
                    p
                        em Mike Rosas
                    ul
                        li Frontend con Pug(Jade): Desarrollo de interfaces web atractivas y adaptables utilizando Pug(Jade) y jQuery.
                        li Backend (API REST) : Creación y mantenimiento de servidores web y API REST utilizando Express.js, Node.js y MongoDB.
                        li Implementación y despliegue de la web en Amazon Web Services .


                .resume-item
                    h4 Desarrollo Freelancer - Basic CRUD  Para Laboratorio dental Seven
                    h5 Febrero 2020 - actualidad
                    p
                        em Mike Rosas
                    ul
                        li Frontend con Pug(Jade): Desarrollo de interfaces web atractivas y adaptables utilizando Pug(Jade) y jQuery.
                        li Backend (API REST) : Creación y mantenimiento de servidores web y API REST utilizando Express.js, Node.js y MongoDB.
                        li Implementación y despliegue de aplicaciones web en Amazon Web Services.
                        li Creación y generación de Ordenes de trabajo


                .resume-item
                    h4 Programador Backend Jr
                    h5 Julio 2019 - Diciembre 2019
                    p
                        em Mike Rosas
                    ul
                        li Creación de queries en SQL
                        li Creación de endpoints en arquitectura API/REST con Express.js