.footer.text-center
    .footer-text
        img.images(src='/public/images/copyright.png', alt='copyright-img', height='12px')
        |  Mike Rosas Dev 2024  |  Desarrollado por  José Miguel Rosas Jimenez