footer#footer
    .container
        .copyright.mx-3
            | ©2023
            strong
                span.mx-2 Jose Miguel Rosas
        .credits
            | Designed by
            a.mx-1(href='/') Jose Miguel Rosas
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
    i.bi.bi-arrow-up-short