head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Mike Rosas Dev - Desarrollador web full stack especializado en MongoDB, jQuery, JavaScript, Node.js, Pug.js, Bootstrap. Descubre mi portafolio y proyectos.')
    meta(name='keywords', content='Mike Rosas Dev, Mike Rosas, Mike Dev, José Miguel Rosas Jiménez, desarrollador web, full stack, MongoDB, jQuery, JavaScript, Node.js, Pug.js, Bootstrap, portafolio, proyectos')
    meta(name='author', content='José Miguel Rosas Jiménez')
    meta(name='robots', content='index, follow')
    meta(property='og:title', content='Mike Rosas Dev | Desarrollador Web Full Stack')
    meta(property='og:description', content='Explora el portafolio y los proyectos de Mike Rosas, un desarrollador web full stack especializado en diversas tecnologías.')
    meta(property='og:url', content='https://mikerosasdev.com')
    meta(property='og:type', content='website')
    meta(property='og:image', content='https://mikerosasdev.com/public/images/perfil_mike.png')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='Mike Rosas Dev | Desarrollador Web Full Stack')
    meta(name='twitter:description', content='Explora el portafolio y los proyectos de Mike Rosas, un desarrollador web full stack especializado en diversas tecnologías.')
    meta(name='twitter:image', content='https://mikerosasdev.com/public/images/perfil_mike.png')
    title Mike Rosas Dev | Desarrollador Web Full Stack
    link(rel='canonical', href='https://mikerosasdev.com')

