head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Mike Rosas Dev - Personal web')
    meta(name='keywords', content='Mike Rosas Dev,blog, business card, creative, creative portfolio, cv , online resume, personal, portfolio, professional cv, responsive portfolio, resume, resume theme, vcard')
    meta(name='author', content='Jose Miguel Rosas Jimenez')
    title Mike Rosas Dev | Web
