nav#navbar.nav-menu.navbar.p-0.m-0
    ul
        li
            a.nav-link.scrollto.active(href='#hero')
                i.bx.bx-home
                |
                span Inicio
        li
            a.nav-link.scrollto(href='#about')
                i.bx.bx-user
                |
                span Acerca de mi
        li
            a.nav-link.scrollto(href='#resume')
                i.bx.bx-file-blank
                |
                span Experiencia
        li
            a.nav-link.scrollto(href='#portfolio')
                i.bx.bx-book-content
                |
                span Portfolio
        li
            a.nav-link.scrollto(href='#services')
                i.bx.bx-server
                |
                span Servicios
        li
            a.nav-link.scrollto(href='#contact')
                i.bx.bx-envelope
                |
                span Contacto