#navigation-content
    .logo
        a(href='/')
            img(src='/public/images/logo_mike.png', alt='logo')
    .navigation-close
        span.close-first
        |
        span.close-second
    .navigation-links
        a#home-link(data-text='HOME') HOME
        |
        a#about-link( data-text='ACERCA DE MI') ACERCA DE MI
        |
        a#portfolio-link( data-text='PORTFOLIO') PORTFOLIO
        |
        a#contact-link( data-text='CONTACTO') CONTACTO
#navigation-bar
    a(href='/')
        img(src='/public/images/logo_mike.png', alt='logo')
    .menubar
        span.first-span
        |
        span.second-span
        |
        span.third-span
