nav#navbar.nav-menu.navbar.w-25
    ul
        li
            a.nav-link.scrollto.active(href='#hero')
                i.bx.bx-home
                |
                span Home
        li
            a.nav-link.scrollto(href='#about')
                i.bx.bx-user
                |
                span About
        li
            a.nav-link.scrollto(href='#resume')
                i.bx.bx-file-blank
                |
                span Resume
        li
            a.nav-link.scrollto(href='#portfolio')
                i.bx.bx-book-content
                |
                span Portfolio
        li
            a.nav-link.scrollto(href='#services')
                i.bx.bx-server
                |
                span Services
        li
            a.nav-link.scrollto(href='#contact')
                i.bx.bx-envelope
                |
                span Contact