#navigation-content
    .logo
        a(href='/')
            img(src='/public/images/logo_mike.png', alt='logo')
    .navigation-close
        span.close-first
        |
        span.close-second
    .navigation-links.text-center
        a#home-link(data-text='HOME' href='/') HOME
        |
        a#about-link( data-text='ACERCA DE MI' href='#about-content') ACERCA DE MI
        |
        a#portfolio-link( data-text='PORTAFOLIO' href='#portfolio-content') PORTAFOLIO
        |
        a#contact-link( data-text='CONTACTO' href='#contact') CONTACTO
#navigation-bar
    a(href='/')
        img(src='/public/images/logo_mike.png', alt='logo')
    .menubar
        span.first-span
        |
        span.second-span
        |
        span.third-span
