#portfolio
    include color-selector

    .portfolio-header
        span.color Mis
        | Proyectos
        span.header-caption
            | Algunos de mis
            span.color Trabajos
    #portfolio-content
        .portfolio.portfolio-seventh
            .portfolio-image
                img(src='/public/images/msj.png', alt='portfolio-fourth')
            .portfolio-text
                h2 E-commerce de perfumes MyScentJourney
                p En este proyecto colaboré tanto en backend como en frontend. El proyecto es un e-commerce de perfumes en el cual se puede comprar por botella o decantación. Además, cuenta con un cotizador y también ofrece venta por preventa y lista de espera. En la parte de la lógica del negocio también ayudé en la gestión de lotes de las botellas, registro de stock y muchas otras tareas más.
                .button
                    a(href='https://myscentjourney.com', target="_blank")
                        button
                            span.index Ver Página
                            i.gg-arrow-right

        .portfolio.portfolio-sixth
            .portfolio-image
                img(src='/public/images/fuegomex.png', alt='portfolio-fourth')
            .portfolio-text
                h2 E-commerce y web Fuego Mexicano
                p Diseñé y desarrollé una página web completa para el Pastor Héctor Andrade, ofreciendo venta de merchandising, blog, agenda de eventos y peticiones de invitaciones.
                .button
                    a(href='https://fuegomexicano.com', target="_blank")
                        button
                            span.index Ver Página
                            i.gg-arrow-right
        .portfolio.portfolio-fourth
            .portfolio-image
                img(src='/public/images/cj.png', alt='portfolio-fourth')
            .portfolio-text
                h2 Web Cultura de Jesús
                p Diseñé y desarrollé una página web completa para la Iglesia Cultura de Jesús, ofreciendo información sobre áreas, congresos, horarios, ubicaciones y peticiones de oración
                .button
                    a(href='https://culturadejesus.com.mx' target="_blank")
                        button
                            span.index
                                | Ver Página
                                i.gg-arrow-right
        .portfolio.portfolio-five
            .portfolio-image
                img(src='/public/images/mike_web.png', alt='portfolio-fourth')
            .portfolio-text
                h2 Web Mike Rosas Dev
                p Diseñé y desarrollé mi sitio web personal, un portafolio que ofrece información acerca de mí, mis proyectos y experiencia profesional.
                .button
                    a(href='https://mikerosasdev.com' target="_blank")
                        button
                            span.index
                                | Ver Página
                                i.gg-arrow-right

        .portfolio.portfolio-first
            .portfolio-image
                img.img-fluid(style="max-width:95%;max-height:410px;border-radius:10px;" src='/public/images/toothlabmx_logo.jpeg', alt='portfolio-first')
            .portfolio-text
                h2 ToothLabMX
                p Software para gestionar laboratorios dentales con funciones como crear órdenes, administrar dentistas y productos, historial de órdenes, estadísticas y más.
                .button
                    a(href='https://github.com/Miguel98R/ToothLabMX_2' target="_blank")
                        button
                            span.index
                                | Ver repositorio
                                i.gg-arrow-right
        .portfolio.portfolio-second
            .portfolio-image
                img.img-fluid(style="max-width:95%;max-height:410px;border-radius:10px;" src='/public/images/project2pug.png', alt='portfolio-second')
            .portfolio-text
                h2 Project2Pug
                p Transformador de plantillas HTML a Pug js para optimizar como motor de vista web.
                .button
                    a(href='https://github.com/Miguel98R/project2Pug')
                        button
                            span.index
                                | Ver repositorio
                                i.gg-arrow-right
        .portfolio.portfolio-third
            .portfolio-image
                img.img-fluid(style="max-width:95%;max-height:410px;border-radius:10px;" src='/public/images/wave_logo.jpeg', alt='portfolio-third')
            .portfolio-text
                h2 WaveModulator
                p Es un proyecto en Python que ejemplifica técnicas de modulación digital con ondas sinusoidales, incluyendo ASK, FSK, PSK y QAM con distintos órdenes de modulación.
                .button
                    a(href='#')
                        button
                            span.index
                                | Ver repositorio
                                i.gg-arrow-right


    include footer
