#portfolio
    include color-selector
    .portfolio-header
        span.color Colaboraciones
        |
        span.header-caption
            | He colaborado con
            span.mx-1.color estas empresas

    #colaborations_content
        #brands.owl-carousel.owl-theme.text-center
            // Contenedor vacío para las colaboraciones

    .portfolio-header
        span.color Mis Proyectos
        |
        span.header-caption
            | Algunos de mis Trabajos y colaboraciones

    #portfolio-content
        .container.p-4
            .row.text-center.py-1
                // Contenedor vacío para los proyectos

    include footer
