section#hero.d-flex.flex-column.justify-content-center.align-items-center
    .hero-container(data-aos='fade-in')
        h1 José Miguel Rosas
        p.mx-2

            span.typed(data-typed-items='Leganux developer,Full stack developer, Charismatic programmer')