section#portfolio.portfolio.section-bg
    .container
        .section-title
            h2 Portfolio
            p Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row(data-aos='fade-up')
            .col-lg-12.d-flex.justify-content-center
                ul#portfolio-flters
                    li.filter-active(data-filter='*') All
                    li(data-filter='.filter-app') App
                    li(data-filter='.filter-card') Card
                    li(data-filter='.filter-web') Web
        .row.portfolio-container(data-aos='fade-up', data-aos-delay='100')
            .col-lg-4.col-md-6.portfolio-item.filter-app
                .portfolio-wrap
                    img.img-fluid(src='/public/img/portfolio/portfolio-1.jpg', alt)
                    .portfolio-links
                        a.portfolio-lightbox(href='/public/img/portfolio/portfolio-1.jpg', data-gallery='portfolioGallery', title='App 1')
                            i.bx.bx-plus
                        |
                        a(href='portfolio-details ', title='More Details')
                            i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-web
                .portfolio-wrap
                    img.img-fluid(src='/public/img/portfolio/portfolio-2.jpg', alt)
                    .portfolio-links
                        a.portfolio-lightbox(href='/public/img/portfolio/portfolio-2.jpg', data-gallery='portfolioGallery', title='Web 3')
                            i.bx.bx-plus
                        |
                        a(href='portfolio-details ', title='More Details')
                            i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-app
                .portfolio-wrap
                    img.img-fluid(src='/public/img/portfolio/portfolio-3.jpg', alt)
                    .portfolio-links
                        a.portfolio-lightbox(href='/public/img/portfolio/portfolio-3.jpg', data-gallery='portfolioGallery', title='App 2')
                            i.bx.bx-plus
                        |
                        a(href='portfolio-details ', title='More Details')
                            i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-card
                .portfolio-wrap
                    img.img-fluid(src='/public/img/portfolio/portfolio-4.jpg', alt)
                    .portfolio-links
                        a.portfolio-lightbox(href='/public/img/portfolio/portfolio-4.jpg', data-gallery='portfolioGallery', title='Card 2')
                            i.bx.bx-plus
                        |
                        a(href='portfolio-details ', title='More Details')
                            i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-web
                .portfolio-wrap
                    img.img-fluid(src='/public/img/portfolio/portfolio-5.jpg', alt)
                    .portfolio-links
                        a.portfolio-lightbox(href='/public/img/portfolio/portfolio-5.jpg', data-gallery='portfolioGallery', title='Web 2')
                            i.bx.bx-plus
                        |
                        a(href='portfolio-details ', title='More Details')
                            i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-app
                .portfolio-wrap
                    img.img-fluid(src='/public/img/portfolio/portfolio-6.jpg', alt)
                    .portfolio-links
                        a.portfolio-lightbox(href='/public/img/portfolio/portfolio-6.jpg', data-gallery='portfolioGallery', title='App 3')
                            i.bx.bx-plus
                        |
                        a(href='portfolio-details ', title='More Details')
                            i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-card
                .portfolio-wrap
                    img.img-fluid(src='/public/img/portfolio/portfolio-7.jpg', alt)
                    .portfolio-links
                        a.portfolio-lightbox(href='/public/img/portfolio/portfolio-7.jpg', data-gallery='portfolioGallery', title='Card 1')
                            i.bx.bx-plus
                        |
                        a(href='portfolio-details ', title='More Details')
                            i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-card
                .portfolio-wrap
                    img.img-fluid(src='/public/img/portfolio/portfolio-8.jpg', alt)
                    .portfolio-links
                        a.portfolio-lightbox(href='/public/img/portfolio/portfolio-8.jpg', data-gallery='portfolioGallery', title='Card 3')
                            i.bx.bx-plus
                        |
                        a(href='portfolio-details ', title='More Details')
                            i.bx.bx-link
            .col-lg-4.col-md-6.portfolio-item.filter-web
                .portfolio-wrap
                    img.img-fluid(src='/public/img/portfolio/portfolio-9.jpg', alt)
                    .portfolio-links
                        a.portfolio-lightbox(href='/public/img/portfolio/portfolio-9.jpg', data-gallery='portfolioGallery', title='Web 3')
                            i.bx.bx-plus
                        |
                        a(href='portfolio-details ', title='More Details')
                            i.bx.bx-link