.profile
    img.img-fluid.rounded-circle(src='/public/img/perfil_2.png', alt)
    h1.text-light
        a(href='index ') #{name}
    .social-links.my-3.text-center

        a.linkedin(href='https://www.linkedin.com/in/JoseMiguelRosas/' target="_blank")
            i.bx.bxl-linkedin
        |
        a.facebook(href='https://github.com/Miguel98R' target="_blank")
            i.fab.fa-github
        |
        a.facebook(href='https://github.com/mikeleganux1998' target="_blank")
            i.fab.fa-github-square
        |
        a.facebook(href='https://www.facebook.com/miguelrosasjmz/' target="_blank")
            i.bx.bxl-facebook
        |
        a.instagram(href='https://www.instagram.com/miguelrosasjmz/' target="_blank")
            i.bx.bxl-instagram
        |


