.profile
    img.img-fluid.rounded-circle(src='/public/img/perfil.jpg', alt)
    h1.text-light
        a(href='index ') Jose Miguel Rosas
    .social-links.mt-1.text-center
        a.twitter(href='#')
            i.bx.bxl-twitter
        |
        a.facebook(href='#')
            i.bx.bxl-facebook
        |
        a.instagram(href='#')
            i.bx.bxl-instagram
        |
        a.google-plus(href='#')
            i.bx.bxl-skype
        |
        a.linkedin(href='#')
            i.bx.bxl-linkedin