section#facts.facts
    .container
        .section-title
            h2 Facts
            p Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row.no-gutters
            .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch(data-aos='fade-up')
                .count-box
                    i.bi.bi-emoji-smile
                    |
                    span.purecounter(data-purecounter-start='0', data-purecounter-end='232', data-purecounter-duration='1')
                    p
                        strong Happy Clients
                        |  consequuntur quae
            .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch(data-aos='fade-up', data-aos-delay='100')
                .count-box
                    i.bi.bi-journal-richtext
                    |
                    span.purecounter(data-purecounter-start='0', data-purecounter-end='521', data-purecounter-duration='1')
                    p
                        strong Projects
                        |  adipisci atque cum quia aut
            .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch(data-aos='fade-up', data-aos-delay='200')
                .count-box
                    i.bi.bi-headset
                    |
                    span.purecounter(data-purecounter-start='0', data-purecounter-end='1453', data-purecounter-duration='1')
                    p
                        strong Hours Of Support
                        |  aut commodi quaerat
            .col-lg-3.col-md-6.d-md-flex.align-items-md-stretch(data-aos='fade-up', data-aos-delay='300')
                .count-box
                    i.bi.bi-people
                    |
                    span.purecounter(data-purecounter-start='0', data-purecounter-end='32', data-purecounter-duration='1')
                    p
                        strong Hard Workers
                        |  rerum asperiores dolor