script(src='/public/vendor/FontAwesome/fontAwesome.js' crossorigin='anonymous')
script(src='/public/vendor/purecounter/purecounter_vanilla.js')
script(src='/public/vendor/aos/aos.js')
script(src='/public/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/public/vendor/glightbox/js/glightbox.min.js')
script(src='/public/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='/public/vendor/swiper/swiper-bundle.min.js')
script(src='/public/vendor/typed.js/typed.min.js')
script(src='/public/vendor/waypoints/noframework.waypoints.js')
script(src='/public/vendor/php-email-form/validate.js')
script(src='/public/js/main.js')