section#services.services.section-bg
    .container
        .section-title
            h2 Servicios
            p Aquí encontrarás todo lo que necesitas para impulsar tu presencia  y mejorar tu experiencia tecnológica.
        .row
            .col-lg-4.col-md-6.icon-box(data-aos='fade-up')
                .icon
                    i.bi.bi-phone
                h4.title
                    a(href) Desarrollo de aplicaciones moviles
                p.description Si necesitas desarrollar una aplicación móvil, puedo ayudarte a crearla de manera eficiente y efectiva, asegurándome de que cumpla con tus necesidades y especificaciones.


            .col-lg-4.col-md-6.icon-box(data-aos='fade-up', data-aos-delay='100')
                .icon
                    i.bi.bi-mouse2
                h4.title
                    a(href) Desarrollo de paginas web
                p.description Si lo que necesitas es una página web, puedo desarrollarla desde cero para ti, asegurándome de que tenga una apariencia atractiva y un diseño fácil de usar para tus visitantes.
            .col-lg-4.col-md-6.icon-box(data-aos='fade-up', data-aos-delay='200')
                .icon
                    i.bi.bi-display
                h4.title
                    a(href) Desarrollo de aplicaciones de escritorio
                p.description Tambien ofrezco servicios de desarrollo de aplicaciones de escritorio, para que puedas tener una aplicación personalizada que se ajuste a tus necesidades específicas.

            .col-lg-4.col-md-6.icon-box(data-aos='fade-up', data-aos-delay='300')
                .icon
                    i.bi.bi-tools
                h4.title
                    a(href) Mantenimiento de tus computadoras
                p.description También puedo ayudarte con el mantenimiento de tus computadoras y la instalación de programas, para que puedas mantener tus equipos en óptimas condiciones y maximizar su rendimiento.
            .col-lg-4.col-md-6.icon-box(data-aos='fade-up', data-aos-delay='400')
                .icon
                    i.bi.bi-people
                h4.title
                    a(href) Asesorías escolares o privadas
                p.description Finalmente, si necesitas asesorías escolares o privadas, puedo ayudarte a encontrar soluciones y guiar tu camino hacia el éxito.