#services
    include color-selector
    .services-heading.wow
        span.color Mis
        |Servicios
    .services-content
        .service-one.service.wow
            .service-img
                img(src='/public/images/app.png', alt='service-one')
            .service-description
                h3 Desarrollo de aplicaciones móviles
                p Puedo desarrollar eficientemente aplicaciones móviles que se ajusten a tus necesidades y especificaciones exactas.
        .service-two.service.wow
            .service-img
                img(src='/public/images/coding.png', alt='service-two')
            .service-description
                h3 Desarrollo de páginas web
                p Desarrollo páginas web atractivas y amigables desde cero, satisfaciendo tus requisitos y necesidades específicas.
        .service-three.service.wow
            .service-img
                img(src='/public/images/desarrollo.png', alt='service-three')
            .service-description
                h3 Desarrollo de aplicaciones de escritorio
                p Ofrezco desarrollo de aplicaciones de escritorio personalizadas para satisfacer tus necesidades específicas.
        .service-four.service.wow
            .service-img
                img(src='/public/images/escuela.png', alt='service-three')
            .service-description
                h3 Asesorías escolares o privadas
                p Brindo asesoría escolar y privada para guiarte hacia el éxito académico y encontrar soluciones efectivas.