#skills
    .skills-header
        | Mis
        span.color Skills
    .skills-content(style='text-align:center')


        .skill-html.skill
            .skill-text
                | HTML / CSS
            .html-prog.wow.prog
                .html-progress.wow 90%

        .skill-html.skill
            .skill-text
                | Pug Js
            .html-prog.wow.prog
                .pug-progress.wow 90%

        .skill-html.skill
            .skill-text
                | React Js / React Native Expo
            .html-prog.wow.prog
                .react-progress.wow 75%

        .skill-html.skill
            .skill-text
                | Javascript
            .html-prog.wow.prog
                .js-progress.wow 90%

        .skill-html.skill
            .skill-text
                | Node Js
            .html-prog.wow.prog
                .node-progress.wow 90%


        .skill-html.skill
            .skill-text
                | Express js
            .html-prog.wow.prog
                .express-progress.wow 90%

        .skill-html.skill
            .skill-text
                | JQuery
            .html-prog.wow.prog
                .jquery-progress.wow 95%

        .skill-html.skill
            .skill-text
                | Mongo DB
            .html-prog.wow.prog
                .mongo-progress.wow 90%

        .skill-html.skill
            .skill-text
                | SQL
            .html-prog.wow.prog
                .sql-progress.wow 85%

        .skill-html.skill
            .skill-text
                | Amazon web services
            .html-prog.wow.prog
                .aws-progress.wow 85%

        .skill-html.skill
            .skill-text
                | Redis
            .html-prog.wow.prog
                .redis-progress.wow 75%

        .skill-html.skill
            .skill-text
                | Docker
            .html-prog.wow.prog
                .docker-progress.wow 75%
