link(rel='icon', type='image/png', href='/public/images/logo_mike.png')
link(rel='stylesheet', href='/public/css/index.css')

script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js')